services:
  sora-gateway:
    image: nginx:1.29.4-alpine
    ports:
      - "3456:80"
    volumes:
      - ./gateway.conf:/etc/nginx/conf.d/default.conf
  # MinIO lưu trữ cho dự án
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    ports:
      - "9000:9000"
    volumes:
      - ./data:/data
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: 9f4muj31h4
      MINIO_BROWSER: "off"
      CI_CD: "true"
    command: server /data
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "1"
        reservations:
          memory: 256M
          cpus: "0.5"
    restart: unless-stopped
